# Created by .ignore support plugin (hsz.mobi)
.idea/dataSources.xml
.idea/dogtrain.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
/mainproject/ResNet/test_Img/
/mainproject/ResNet/train_Img/
/mainproject/ResNet/valid_Img/
/mainproject/ResNet/tensorboard
/mainproject/ResNet/resnet50_pre_weights.h5
/mainproject/ResNet/resnet50_final.h5
/mainproject/ResNet/resnet50_best.h5
